{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
    {% load user_filters %}
    {% load static %}
    <main role="main" class="container">
        <div class="row">
            <div class="col-md-3 mb-3 mt-1">
                <div class="card">
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <div class="h3">
                                    Об авторе
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="h6 text-muted">
                                    <img src="{% static 'I.jpg' %}" width="100%" alt="Здесь должна быть картинка, но что-то пошло не так.">
                                    <br>
                                    <br>
                                    <p>
                                        Привет, меня зовут Аня! И я очень люблю бывать в горах! (Поэтому прикреплю здесь фоточки-воспоминания)
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="card-body">
                    <div class="card-text">
                        <p>
                            Я студентка 16 когорты и это мой первый проект. Пришла в программирование из авиастроения, 6 лет училась на прочниста,
                            потом 6 лет работала инженером на Иркутском авиазаводе. В декрете жизнь круто изменилась, и я оказалась в Питере.
                            А раз так всё резко поменялось, почему бы не сменить деятельность? ;)
                            Вот ссылочка на мой аккаунт в <a href="https://github.com/annrud">git.</a>
                        </p>
                        <img src="{% static 'Gesh.jpg' %}" alt="Здесь должна быть картинка, но что-то пошло не так.">
                        <br>
                        <br>
                        <p>Это Шерегеш, гряда скал-останцев Верблюды.</p>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}