{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
    {% load user_filters %}
    {% load static %}
    <main role="main" class="container">
        <div class="row">
            <div class="col-md-3 mb-3 mt-1">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title h3">Об авторе</div>
                        <div class="card-text">
                            <img class="mb-2" src="{% static 'I.jpg' %}" width="100%" alt="Здесь должна быть картинка, но что-то пошло не так.">
                            <a href="https://github.com/annrud">Мой github</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="card-body">
                    <div class="card-text">
                        <p>
                            Привет! Меня зовут Аня Попова и это мой первый сайт, созданный в качестве домашнего задания на курсах Python-разработчик от Яндекс.Практикум.
                        </p>
                        <img src="{% static 'Gesh.jpg' %}" alt="Здесь должна быть картинка, но что-то пошло не так.">
                        <br>
                        <br>
                        <p>Это Шерегеш, гряда скал-останцев Верблюды.</p>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}