{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
    {% load user_filters %}
    <main role="main" class="container">
        <div class="row">
            <div class="col-md-3 mb-3 mt-1">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title h3">Технологии</div>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="card-body">
                    <div class="card-text">
                        <p>
                        <ul>
                            <li>Стек: Python, html, css </li>
                            <li>Фреймворки: django 2.2.6, Bootstrap </li>
                            <li>Среда разработки - PyCharm</li>
                            <li>Система контроля версий - git</li>
                        </ul>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}